$wine-theme-color: #46001a;
$wine-dark-color: #310113;
$wine-blood-red-color: #920012;
$black-color: #000;
$white-color: #fff;

//font-family
$heading-cursive: "MonteCarlo", cursive;
$montserrat-font: "Montserrat", sans-serif;
//46001a

//font-sizes of different pages
//checkout-page
$checkout-title: 40px;
$checkout-info: 20px;
